:root {
  // Colors
  --c-primary: #ED7844;
  --c-primary-dark: #EC713B;
  --c-primary-shadow: #CF5C59;
  --gradient-primary: radial-gradient(46.8% 50% at 58.93% 50%, var(--c-primary) 0%, var(--c-primary-dark) 100%);

  --c-secondary: #3B99FF;
  --gradient-secondary: linear-gradient(164deg, #6AC0FF 1.46%, #086FFF 102.79%);

  --fg-regular: #3A3A3A;
  --fg-second: #68696B;
  --fg-third: #9c9c9c;
  --fg-caption: #b3b4b5;
  --fg-on: #fff;

  // BGs
  --bg-app: #F7F7F9;
  --bg-section-light: #fff;
  --bg-card: #fff;
  --bg-card-dark: #383838;

  // nomads
  --c-error: #FF3b30;
  --c-success: #34C759;
}

